container_commands:
  01_add-SSLCertificateFile-label:
    command: "gpg --yes --batch --passphrase=$GPGPASSPHRASE --output=/etc/pki/tls/certs/server.crt .ebextensions/server.crt.gpg"
  02_add-SSLCertificateKeyFile-label:
    command: "gpg --yes --batch --passphrase=$GPGPASSPHRASE --output=/etc/pki/tls/certs/server.key .ebextensions/server.key.gpg"
  03_replace-ssl-configuration-label:
    command: "cp .ebextensions/ssl.conf /etc/httpd/conf.d/ssl.conf"
  04_killhttpd:
    command: "killall httpd"
    test: "scripts/ishttpdrunning.sh"
    ignoreErrors: true
  05_deleteWSGIConfig:
    command: "rm /etc/httpd/conf.d/wsgi.conf"
    ignoreErrors: true
  06_waitforhttpddeath:
    command: "sleep 3"

Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupName: {Ref : AWSEBSecurityGroup}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0